<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>

<div id="help-form" class="help-forms">

  <div id="name-input-div" class="input-div">  
    <div class="form-section-label"><label for="name">Name:</label></div>
    <input type="text" class="input-text" id="name" name="name">
  </div>

  <div style="line-height: 80%">&nbsp;</div>

  <div id="gender-input-div" class="input-div">  
    <ul class="radio-button-ul">
      <li>
        <center>
        <input type="radio" id="male" class="gender" name="gender" value="male">
        <label for="male">Male</label>
        </center>
      </li>
      <li>
        <center>
        <input type="radio" id="female" class="gender" name="gender" value="female">
        <label for="female">Female</label>
        </center>
      </li>
    </ul>
  </div>

  <div style="clear: both; line-height: 5%">&nbsp;</div>
  
  <div id="age-input-div" class="input-div">
    <ul class="radio-button-ul">
      <li>
        <center>
        <input type="radio" id="child" name="age" class="age" value="child">
        <label for="child">Child</label>
        </center>
      </li>
      <li>
        <center>
        <input type="radio" id="adult" name="age" class="age" value="adult">
        <label for="adult">Adult</label>
        </center>
      </li>
    </ul>
  </div>
  
  <div id="location-input-div" class="input-div">
    <div id="location-label" class="form-section-label">Location:</div>
    <input type="hidden" id="location" name="location">
    <div id="location-from-ip-div" style="display: none;">
      <input type="text" id="location-from-ip-display-box" class="input-text" readonly>
      <div id="location-from-ip-confirmation" class="line-message-div">
        <div class="line-message">Accurate location?</div>
        <a id="correct-location-button" class='form-button form-button-a-tag'><center>Yes</center></a>
        <a id="incorrect-location-button" class='form-button form-button-a-tag'><center>No</center></a>
        <br>
      </div>
    </div>
    <div id="locationField">
      <input id="autocomplete" class="input-text" onFocus="geolocate()" type="text" placeholder="Enter your location"></input>
      <div id="location-from-autocomplete-confirmation" style='display: none;' class="line-message-div">
        <a id="ok-location-button" class='form-button form-button-a-tag'><center>OK</center></a>
        <a id="change-location-button" class='form-button form-button-a-tag'><center>Change</center></a>
        <br>
      </div>
    </div>
  </div>

  <div id="description-input-div" class="input-div">
    <div class="form-section-label"><label for="description">Other information:</label></div>
    <textarea id="description" class="input-textarea" rows="4" name="description" form="help-needed" placeholder="emergency situation, street adress, floor, suite, etc."></textarea>
  </div>

  <div id="injured-input-div" class="input-div" style="margin: 18px 0 65px;">
    <span style="float: left;  margin: -5px 5px 0 0; display:">Injured?</span>
    <ul class="radio-button-ul">
      <li style="height: 20px; width: 54px;">
        <center>
        <input type="radio" id="injured-yes" name="injured" value="true">
        <label for="injured-yes" style="padding: 2px 0 20px;">Yes</label>
        </center>
      </li>
      <li style="height: 20px; width: 54px;">
        <center>
        <input type="radio" id="injured-no" name="injured" value="false">
        <label for="injured-no" style="padding: 2px 0 20px;">No</label>
        </center>
      </li>
  </div>


  <div id="email-input-div" class="input-div">
    <div class="form-section-label"><label for="email">Email:</label></div>
    <input id="email" type="email" name="email" class="input-text">
  </div>

  <div id="phone-input-div" class="input-div">
    <div class="form-section-label"><label for="phone">Phone:</label></div>
    <input id="phone" type="tel" name="phone" class="input-text">
  </div>
  
  <input type="hidden" id="geolocation" name="geolocation">

  <br>
  <center>
    <button id="first-request-help-button" class="request-help-button">Request Help</button>
  </center>
</div>

<div id="help-form-additional-people" class="help-forms" style="display: none;">

  <div id="help-form-submitted-message" style="display: none;">
    <b>Your request for help has been submitted. Stay calm.</b>
    <br>
  </div>

  <center>
    <div id="additional-people-question" class="form-paragraph" style="display: none;">
      <br>
      Add other people around you?
      <br>
      <br>
    </div>
  </center>
  
  <div id="additional-people-invisible" style="display: none;">
    <div class="help-forms additional-person-form">

      <input type="hidden" id="location_person_" name="location">
      <input type="hidden" id="geolocation_person_" name="geolocation">
      <input type="hidden" id="second_description_person_" name="second_description">

      <div id="name-input-div_person_" class="input-div">  
        <div class="form-section-label"><label id="label_person_" for="name_person_">Name of person #num:</label></div>
        <input type="text" class="input-text" id="name_person_" name="name_person_" placeholder="Enter if known">
      </div>

      <div style="line-height: 80%">&nbsp;</div>
      
      <div id="gender-input-div" class="input-div">
        <ul class="radio-button-ul">
          <li>
            <center>
            <input type="radio" id="male_person_" class="gender" name="gender_person_" value="male">
            <label for="male_person_">Male</label>
            </center>
          </li>
          <li>
            <center>
            <input type="radio" id="female_person_" class="gender" name="gender_person_" value="female">
            <label for="female_person_">Female</label>
            </center>
          </li>
          <li>
            <center>
            <input type="radio" id="unknown_person_" class="gender" name="gender_person_" value="unknown">
            <label for="unknown_person_">Unknown</label>
            </center>
          </li>
        </ul>
      </div>

      <div style="clear: left; line-height: 5%">&nbsp;</div>
      
      <div id="age-input-div" class="input-div">
        <ul class="radio-button-ul">
          <li>
            <center>
            <input type="radio" id="baby_person_" name="age_person_" value="baby">
            <label for="baby_person_">Baby</label>
            </center>
          </li>
          <li>
            <center>
            <input type="radio" id="child_person_" name="age_person_" value="child">
            <label for="child_person_">Child</label>
            </center>
          </li>
          <li>
            <center>
            <input type="radio" id="adult_person_" name="age_person_" value="adult">
            <label for="adult_person_">Adult</label>
            </center>
          </li>
          <li>
            <center>
            <input type="radio" id="elder_person_" name="age_person_" value="elder">
            <label for="elder_person_">Elder</label>
            <center>
          </li>
        </ul>
      </div>

      <div style="clear: left"></div>

      <div id="injured-input-div" class="input-div">
        <span style="float: left;  margin: -5px 5px 0 0; display:">Injured?</span>
        <ul class="radio-button-ul">
      <li style="height: 20px; width: 54px;">
        <center>
        <input type="radio" id="injured-yes_person_" name="injured_person_" value="true">
        <label for="injured-yes_person_" style="padding: 2px 0 20px;">Yes</label>
        </center>
      </li>
      <li style="height: 20px; width: 54px;">
        <center>
        <input type="radio" id="injured-no_person_" name="injured_person_" value="false">
        <label for="injured-no_person_" style="padding: 2px 0 20px;">No</label>
        </center>
      </li>
  </div>
    </div>
    <br>
  </div>

  <div id="additional-people">
  </div>

  <center>
    <button id="first-additional-person-button" class="request-help-button">Yes</button>
    <button id="no-additional-person-button" class="request-help-button">No</button>
    <button id="subsequent-additional-person-button" class="request-help-button" style="display: none;">Add person</button>
    <button id="submit-all-button" class="request-help-button" style="display: none;">Submit all</button>
    <button id="all-people-submitted-button" style="display: none;"></button>
  </center>
</div>