<div id="help-form">
    
    <form action="POST" id="help-needed">            
    <label>Name: <input type="text" name="name"></label>
    <br>
    <ul class="radio-button-ul">
        <li>
            <center>
            <input type="radio" id="infant" name="age" value="infant">
            <label for="infant">Infant</label>
            </center>
        </li>
        <li>
            <center>
            <input type="radio" id="adult" name="age" value="adult">
            <label for="adult">Adult</label>
            </center>
        </li>
        <li>
            <center>
            <input type="radio" id="senior" name="age" value="senior">
            <label for="senior">Senior</label>
            <center>
        </li>
    </ul>
    <br>
    <ul class="radio-button-ul">
        <li>
            <center>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            </center>
        </li>
        <li>
            <center>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            </center>
        </li>
    </ul>
    <br>
    <br>
    <label>Location: <input type="text" name="location"></label>
    <br>
    <br>
    <label>More info about location: <textarea rows="3" cols="30" name="description" form="help-needed"></textarea></label>
    <br>
    <br>
    <label>Email: <input type="text" name="email"></label>
    <br>
    <br>
    <label>Phone: <input type="text" name="phone"></label>
    <br>
    <br>
    <button type="submit">Request Help</button>
    </form>
    
</div>