

	<div id='search-bar'>
		<input type="text" name='name' id='name-search' placeholder='enter name'>
		
		<input type="text" name='location' id='location-search' placeholder='enter location'>

		<input id="datetimepicker" type="text" >
			
		<button class='search'>search</button>
			
			<div class="news_api">
			</div>

				<div class= "victim_list">
					<ul class="victim_list">
						<li class='view'><a href="" data-value={{id}}>{{description}}</a></li>
					</ul>
				</div>

	</div>








