



	<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

  	<div id='sign-log'>
  	</div>

	<div id='search-bar'>
		<input type="text" name='name' id='name-search' placeholder='enter name'>
		
		<input type="text" name='location' id='location-search' placeholder='enter location'>

		<input id="datepicker" type="text" >

		<input type="radio" name="safe" value="false">Safe
		<input type="radio" name="safe" value="true">Not Safe
			
		<button class='search'>search</button>
			
			<div class="news_api">
			</div>

			<div id ='victim-box'>

			</div>

			

	</div>




