
<div class='signup'>
     
    <h2> SIGN UP</h2>
    
        
            <label>Name:</label>
              <br>
            <input type="text" name="name" placeholder="Enter your name" required/>
              <br> 
              <label>Location:</label>
              <br>
            <input type="text" name="location" placeholder="Enter your location" required/>
              <br>
              <label>Phone:</label>
              <br>
            <input type="text" name="phone" placeholder="Enter your phone"/>
              <br>
            <label>Email:</label>
              <br>
            <input type="text" name="email" placeholder="Enter your email" required/>
              <br>
            <label>Password:</label>
              <br>
            <input type="password" name="password" placeholder="Enter your password" required/>
              <br>
            <label>Password Confirmation:</label>
              <br>
            <input type="password" name="password_confirmation" placeholder="Enter your password again" required/>
              <br>
              <br>
            <button id='signup-button' name="sign">Submit</button>
            <br>
            <br>
        
</div>
