
<div class='signup'>
     
    <h2> SIGN UP</h2>
    
        
            <label>Name:</label>
              <br>
            <input type="text" name="name" placeholder="Enter your name"/>
              <br>
              <label>Location:</label>
              <br>
            <input type="text" name="location" placeholder="Enter your location"/>
              <br>
              <label>Phone:</label>
              <br>
            <input type="text" name="phone" placeholder="Enter your phone"/>
              <br>
            <label>Username:</label>
              <br>
            <input type="text" name="email" placeholder="Enter your email"/>
              <br>
            <label>Password:</label>
              <br>
            <input type="password" name="password" placeholder="Enter your password"/>
              <br>
            <label>Password Confirmation:</label>
              <br>
            <input type="password" name="password_confirmation" placeholder="Enter your password again"/>
              <br>
            <button id='signup-button' name="sign">Submit</button>
        
</div>
