
<div class='signup'>
     
    <h2> LOG IN</h2>
    
        
            <label>Email:</label>
              <br>
            <input type="text" name="email" placeholder="Enter your email" required/>
              <br>
            <label>Password:</label>
              <br>
            <input type="password" name="password" placeholder="Enter your password" required/>
              <br>
            <button id='login-button' name="log">Submit</button>
        
</div>

