
<div id='seeker-info'>
<h1>Seeker Contact Info</h1>
<p>Name : {{name}}</p>
<p>Phone : {{phone}}</p>
<p>Location : {{location}}</p>
<p>Email : {{email}}</p>
</div>


<div id='victim-added'>
<h4> Victim's who need rescue</h4>
<table class = 'victim-list'>
	<tr>
		<th>Name</th>
		<th>Location</th> 
		<th>DateTime</th>
	</tr>
	
</table>
</div>