<div class='sign'>
	{{#if name}}
	<p class= "hello"> Hello {{name}}</p> 
	   <button class='log-out' data-value={{id}}>Log Out</button>
	     {{else}}
	        <button class='sign-up'>Sign Up</button>
	        <button class='log-in'>Log In</button>
	    {{/if}}
</div>