#modal {
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,.9);
    color: lightgrey;
    /*margin: 0 auto;*/
    padding-top: 5%;
    text-align: center;
    overflow: scroll;
    height: 90%;
    z-index: 201;
    margin-bottom: 10%;

}