body, html {
  height: 100%;
}

body {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
	font-size: 14px;
	color: black;
	background-color: DarkRed;
}

#top-bar {
	position: fixed;
	width: 100%;
	color: white;
	background-color: DarkSlateGrey;
	height: 50px;
	z-index: 200;
}

#brand {
	font-size: 26px;
	margin: 0 5px 0;
	padding: 10px 0 0 0;
	float: left;
}

#navigation-buttons {
	padding: 10px 0 0 0;
	position: absolute;
	right: 20px;
	cursor: pointer;
}

.navigation-button {
	cursor: pointer;
}

#page {
	position: relative;
	top: 50px;
	padding-top: 20px;
	min-width: 360px;
	width: 90%;
	margin: 0 auto;
	min-height: 100%;
	background-color: white;
}

#help-form-submitted-message {
	background-color: beige;
	margin: 0 auto;
	padding: 10px;
	width: 300px; 
	border: 4px solid #CCC;
	border-radius: 10px;
}

#help-form {
	margin: 0 auto;
	width: 300px; 
}

.pac-icon {
	display: none;
}

.form-button {
	background-color: #F3F9FF;
	display: block;
	height: 20px;
	width: 50px;
	margin: 0 2px 0;
	padding: 2px 0 0;
	float: left;
	border: 2px solid dimgray;
	border-radius: 50px;
	cursor: pointer;
}

.form-button-a-tag:link {
	color: black; 
    text-decoration:none;
}

.form-button-a-tag:visited {
	color: black; 
    text-decoration: none;
}

.form-button-a-tag:hover { 
	color: black;
    background-color: #C8D6E8;
    text-decoration: none;
}

.form-button-a-tag:active {
	color: black; 
    background-color: #C8D6E8;
    text-decoration: none;
}

.radio-button-ul {
	position: relative;
	list-style-type: none;
	padding: 0;
	top: -10px;
}

.radio-button-ul li {
	float: left;
	margin: 1px 5px 1px 0;
    width: 70px;
    height: 30px;
    position: relative;
}

.radio-button-ul label, .radio-button-ul input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.radio-button-ul input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.radio-button-ul input[type="radio"]:checked + label,
.Checked + label {
    background: yellow;
}

.radio-button-ul label {
	background-color: #F3F9FF;
	padding: 5px;
	border: 2px solid dimgray; 
	border-radius: 50px;
	cursor: pointer;
	z-index: 90;
}

.radio-button-ul label:hover {
     background: #C8D6E8;
}

.input-div {
	margin: 11px 0 0;
	clear: both;
}

.input-text {
	background-color: #F3F9FF;
	height: 30px;
	width: 98%;
	font-size: 18px;
	border-radius: 5px;
	border: 2px solid dimgray;
}

.input-textarea {
	background-color: #F3F9FF;
	resize: none;
	width: 98%;
	font-size: 18px;
	border-radius: 5px;
	border: 2px solid dimgray;
}

.line-message {
	float: left;
	margin: 2px 5px 0 0;
}

.line-message-div {
	position: relative;
	margin: 5px 0 20px 0;
}

.form-section-label {
	margin: 10px 0 5px;
}

.request-help-button {
	background-color: #F3F9FF;
}

.form-paragraph {
	margin: 0 auto;
	width: 300px; 
}

.additional-person-form {
	background-color: #E6F5EB;
	margin: 0 auto;
	padding: 0 10px 45px;
	width: 300px; 
	border: 4px solid #CCC;
	border-radius: 10px;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.individual-person-map {
	width: 300px;
	height: 300px;
}