body {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
	font-size: 14px;
	color: black;

}

.hide {
	display: none;
}

#top-bar {
	position: fixed;
	width: 100%;
	color: white;
	background-color: DarkSlateGrey;
	height: 50px;
	z-index: 200;
}

#brand {
	font-size: 26px;
	margin: 0 5px 0;
	padding: 10px 0 0 0;
	float: left;
}

#navigation-buttons {
	padding: 10px 0 0 0;
	position: absolute;
	right: 20px;
}

#page-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: DarkRed;
	top: 50px;
}

#page {
	background-color: white;
	padding: 50px 0;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

#help-form-submitted-message {
	background-color: beige;
	margin: 0 auto;
	padding: 10px;
	width: 300px; 
	border: 4px solid #CCC
}

#help-form {
	padding: 20px 0 0 0;
	margin: 0 auto;
	width: 360px; 
}

.radio-button-ul {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.radio-button-ul li {
     float:left;
     margin:0 5px 0 0;
    width:80px;
    height:30px;
    position:relative;
}

.radio-button-ul label, .radio-button-ul input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.pac-icon {
	display: none;
}

.radio-button-ul input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.radio-button-ul input[type="radio"]:checked + label,
.Checked + label {
    background:yellow;
}

.radio-button-ul label {
     padding:5px;
     border:1px solid #CCC; 
     border-radius: 50px;
     cursor:pointer;
    z-index:90;
}

.radio-button-ul label:hover {
     background:#DDD;
}

.input-text {
	height: 30px;
	width: 328px;
	font-size: 18px;
}

.input-textarea {
	resize: none;
	width: 328px;
	font-size: 18px;
}

.line-message-div {
	height: 18px;
}