<!DOCTYPE html>
<html>
<head>
  <title>Sos now</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
	<div id="top-bar">
		<div id="brand">SOS.now</div>
		<div id="navigation-buttons">
			<div id="seek-someone-button">
				SEEK SOMEONE?
			</div>
			<div id="i-need-help-button">
				I NEED HELP!
			</div>
		</div>
	</div>

  <div id="page-container">
		<div id="page">
		</div>
	</div>

</body>
</html>