<!DOCTYPE html>
<html>
<head>
  <title>SOS.now</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
<div id="modal"></div>
	<div id="top-bar">
		<div id="brand" class="navigation-button">SOS.now</div>
		<div id="navigation-buttons-container">
			<div id="seek-someone-button" class="navigation-button">
				SEEK SOMEONE?
			</div>
			<div id="i-need-help-button" class="navigation-button">
				I NEED HELP!
			</div>
		</div>
	</div>

	<div id="left-bar">
	</div>

	<div id="right-bar">
	</div>

	<div id="page-container">
		<div id="page">
		</div>
	</div>

</body>
</html>